In [27]:
import numpy as np
import pandas as pd

In [28]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [29]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [30]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [31]:
movies = movies.merge(credits, on ='title')

In [32]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [33]:
# columns that are needed: genre, id, keywords, title, overview, cast, crew

movies = movies[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [34]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [37]:
#missing data
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [36]:
movies.dropna(inplace= True)

In [38]:
#duplicated data
movies.duplicated().sum()

0

In [39]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [45]:
#converting genres string of list of dictionaries into list of dicts
import ast
def convert(obj):
    L = []
    for i in ast.literal_eval(obj): #string to list conversion
        L.append(i['name'])         #'name' attributed is needed
    return L

In [49]:
movies['genres'] = movies['genres'].apply(convert)

In [50]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [51]:
#now for keywords column

movies['keywords'] = movies['keywords'].apply(convert)

In [58]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [53]:
#now for cast, only first 3 actors names needed

def convert3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):    #string to list conversion
        if counter != 3:
            L.append(i['name'])         #'name' attributed is needed
            counter += 1
        else:
            break
    return L

In [54]:
movies['cast'] = movies['cast'].apply(convert3)

In [55]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [59]:
#for crew where job = director, (only director name needed)

def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [61]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [62]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [64]:
movies['overview'] = movies['overview'].apply(lambda x: x.split())

In [65]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [70]:
#removing spaces between names 'Science Fiction' -> 'ScienceFiction'
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ", "") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ", "") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ", "") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ", "") for i in x])

In [71]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]

In [72]:
#concatenate all the columns to tags

movies['tags'] = movies['overview'] + movies['genres'] + movies['cast'] + movies['crew']

In [74]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."

In [76]:
new_df = movies[['movie_id', 'title', 'tags']]
new_df.head(1)

   movie_id   title                                               tags
0     19995  Avatar  [In, the, 22nd, century,, a, paraplegic, Marin...

In [77]:
#convert tag list into string
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

C:\Users\mprac\AppData\Local\Temp\ipykernel_15780\2313666069.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

In [78]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [79]:
#convert everything to lowercase

new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())
new_df.head()

C:\Users\mprac\AppData\Local\Temp\ipykernel_15780\3525928853.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [80]:
new_df['tags'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction samworthington zoesaldana sigourneyweaver jamescameron'

In [105]:
#convert tags to vectors: textvectorization (bag of words)
#largetext = concatenate all the tags: then find the 5000 most common words 
#                 w1   w2   w3 ..... w5000
#for movie 1, m1: 5    3    0          1    <- one vector of 5000 Dimensions
#for movie 2, m2: 3    7    1          0
#...
#matrix dataframe 5000x5000 (frequency of the most common words in each movie)

from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features = 5000, stop_words = 'english')

In [106]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [107]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [108]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [109]:
#apply stemming to make sure that loved, loving, lover into lov
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))

    return " ".join(y)

In [110]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\mprac\AppData\Local\Temp\ipykernel_15780\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [112]:
#distance between vectors will determine the similarity
#if distance increases, similarity decreases and vice versa
#cosine distance method

from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(vectors)

In [115]:
list(enumerate(similarity[0])) #created (index, similarti) tuples

[(0, 0.9999999999999998),
 (1, 0.13957263155977062),
 (2, 0.08206099398622181),
 (3, 0.10744306187005068),
 (4, 0.14213381090374028),
 (5, 0.13655774839978377),
 (6, 0.0597081434026532),
 (7, 0.17766726362967533),
 (8, 0.08362420100070908),
 (9, 0.14019992744655632),
 (10, 0.14019992744655632),
 (11, 0.1257389226923863),
 (12, 0.14673479641335552),
 (13, 0.0674199862463242),
 (14, 0.18844459036110223),
 (15, 0.1011299793694863),
 (16, 0.11677484162422842),
 (17, 0.12439408271422457),
 (18, 0.05060453993692574),
 (19, 0.1011299793694863),
 (20, 0.07784989441615228),
 (21, 0.0753778361444409),
 (22, 0.09782319760890368),
 (23, 0.1333662673423161),
 (24, 0.07918075824648957),
 (25, 0.025482359571881275),
 (26, 0.15569978883230456),
 (27, 0.16796775328675623),
 (28, 0.15075567228888181),
 (29, 0.0895622151039798),
 (30, 0.09988907373180403),
 (31, 0.21320071635561041),
 (32, 0.062197041357112286),
 (33, 0.15512630699850571),
 (34, 0.0),
 (35, 0.16514456476895406),
 (36, 0.18556740475630137),
 (37, 0.08362420100070908),
 (38, 0.11102547633067379),
 (39, 0.10969086361906957),
 (40, 0.11134044285378084),
 (41, 0.1348399724926484),
 (42, 0.0),
 (43, 0.14019992744655632),
 (44, 0.053300179088902604),
 (45, 0.10919021808652281),
 (46, 0.16724840200141816),
 (47, 0.14245072057454744),
 (48, 0.08471737420873575),
 (49, 0.0),
 (50, 0.11134044285378084),
 (51, 0.08189266356489211),
 (52, 0.11306675421666135),
 (53, 0.06356417261637282),
 (54, 0.06154574548966637),
 (55, 0.080582296402538),
 (56, 0.14673479641335552),
 (57, 0.0),
 (58, 0.09045340337332908),
 (59, 0.10120907987385148),
 (60, 0.0),
 (61, 0.23262105259961768),
 (62, 0.12856486930664499),
 (63, 0.07207499701564471),
 (64, 0.04891159880445184),
 (65, 0.030151134457776358),
 (66, 0.03289758474798845),
 (67, 0.10969086361906957),
 (68, 0.18609684207969415),
 (69, 0.018083448741266828),
 (70, 0.10514994558491725),
 (71, 0.09642365197998373),
 (72, 0.21320071635561044),
 (73, 0.05913123959890826),
 (74, 0.13655774839978377),
 (75, 0.12087344460380703),
 (76, 0.11134044285378084),
 (77, 0.0),
 (78, 0.0909090909090909),
 (79, 0.0878561118986134),
 (80, 0.07336739820667776),
 (81, 0.07485976927589244),
 (82, 0.08528028654224418),
 (83, 0.14642685316435566),
 (84, 0.11605177063713189),
 (85, 0.09143006417649888),
 (86, 0.06827887419989188),
 (87, 0.11877113736973435),
 (88, 0.10341753799900381),
 (89, 0.039088155249705214),
 (90, 0.09304842103984708),
 (91, 0.18281810603178264),
 (92, 0.07207499701564471),
 (93, 0.1037571695799112),
 (94, 0.22019275302527208),
 (95, 0.12792042981336627),
 (96, 0.11134044285378084),
 (97, 0.09753841331435326),
 (98, 0.14673479641335552),
 (99, 0.036037498507822355),
 (100, 0.05170876899950191),
 (101, 0.11487593716012254),
 (102, 0.1364877726081535),
 (103, 0.09137173558097589),
 (104, 0.09304842103984708),
 (105, 0.11009637651263604),
 (106, 0.1011299793694863),
 (107, 0.09430419201928972),
 (108, 0.11306675421666135),
 (109, 0.10050378152592121),
 (110, 0.03553345272593507),
 (111, 0.15836151649297914),
 (112, 0.07422696190252055),
 (113, 0.0650256088762355),
 (114, 0.07009996372327816),
 (115, 0.0674199862463242),
 (116, 0.06827887419989188),
 (117, 0.09534625892455922),
 (118, 0.05372153093502534),
 (119, 0.036037498507822355),
 (120, 0.0),
 (121, 0.15836151649297914),
 (122, 0.18609684207969415),
 (123, 0.12792042981336627),
 (124, 0.06659271582120269),
 (125, 0.07106690545187014),
 (126, 0.1462544848254261),
 (127, 0.17966445081877086),
 (128, 0.0),
 (129, 0.09231861823449955),
 (130, 0.037113480951260276),
 (131, 0.13834289277321493),
 (132, 0.060914490387317256),
 (133, 0.04351941398892446),
 (134, 0.1599005372667078),
 (135, 0.0),
 (136, 0.03413943709994594),
 (137, 0.020056236303005483),
 (138, 0.2175970699446223),
 (139, 0.1706971854997297),
 (140, 0.060914490387317256),
 (141, 0.04767312946227961),
 (142, 0.08206099398622181),
 (143, 0.11605177063713189),
 (144, 0.09534625892455922),
 (145, 0.027756369082668448),
 (146, 0.0),
 (147, 0.0753778361444409),
 (148, 0.1333662673423161),
 (149, 0.15386436372416593),
 (150, 0.15289415743128765),
 (151, 0.17739371879672478),
 (152, 0.1254363015010636),
 (153, 0.08257228238447703),
 (154, 0.08528028654224418),
 (155, 0.028490144114909487),
 (156, 0.0674199862463242),
 (157, 0.10050378152592121),
 (158, 0.12712834523274563),
 (159, 0.10341753799900381),
 (160, 0.1222789970111296),
 (161, 0.0674199862463242),
 (162, 0.04545454545454545),
 (163, 0.07422696190252055),
 (164, 0.10660035817780521),
 (165, 0.09534625892455922),
 (166, 0.1531679162134967),
 (167, 0.11677484162422842),
 (168, 0.17766726362967533),
 (169, 0.09753841331435326),
 (170, 0.12439408271422457),
 (171, 0.0298540717013266),
 (172, 0.20100756305184242),
 (173, 0.0),
 (174, 0.15569978883230456),
 (175, 0.10969086361906957),
 (176, 0.05504818825631802),
 (177, 0.0),
 (178, 0.03553345272593507),
 (179, 0.050251890762960605),
 (180, 0.03553345272593507),
 (181, 0.07918075824648957),
 (182, 0.13318543164240537),
 (183, 0.08869685939836239),
 (184, 0.10660035817780521),
 (185, 0.0753778361444409),
 (186, 0.06356417261637282),
 (187, 0.18018749253911176),
 (188, 0.029012942659282972),
 (189, 0.11009637651263604),
 (190, 0.05857074126574227),
 (191, 0.07918075824648957),
 (192, 0.07106690545187014),
 (193, 0.0832250378576479),
 (194, 0.0),
 (195, 0.08058229640253801),
 (196, 0.08528028654224418),
 (197, 0.05133270023393453),
 (198, 0.08528028654224418),
 (199, 0.14019992744655632),
 (200, 0.17739371879672478),
 (201, 0.0),
 (202, 0.04264014327112209),
 (203, 0.1254363015010636),
 (204, 0.07106690545187014),
 (205, 0.09782319760890368),
 (206, 0.13121597027036946),
 (207, 0.11677484162422842),
 (208, 0.17739371879672478),
 (209, 0.09534625892455922),
 (210, 0.07312724241271305),
 (211, 0.03413943709994594),
 (212, 0.09753841331435326),
 (213, 0.09988907373180403),
 (214, 0.0),
 (215, 0.11306675421666135),
 (216, 0.10660035817780521),
 (217, 0.12060453783110543),
 (218, 0.05504818825631802),
 (219, 0.12309149097933272),
 (220, 0.08528028654224418),
 (221, 0.06827887419989188),
 (222, 0.07813983916059347),
 (223, 0.07106690545187014),
 (224, 0.058025885318565944),
 (225, 0.0674199862463242),
 (226, 0.0),
 (227, 0.08206099398622181),
 (228, 0.1257389226923863),
 (229, 0.11918282365569903),
 (230, 0.13222147133698628),
 (231, 0.0),
 (232, 0.17782168978975482),
 (233, 0.1599005372667078),
 (234, 0.13318543164240537),
 (235, 0.10969086361906957),
 (236, 0.12309149097933272),
 (237, 0.09304842103984708),
 (238, 0.11102547633067379),
 (239, 0.05133270023393453),
 (240, 0.08206099398622181),
 (241, 0.11306675421666135),
 (242, 0.11877113736973435),
 (243, 0.10660035817780521),
 (244, 0.09782319760890368),
 (245, 0.08703882797784893),
 (246, 0.0574959574576069),
 (247, 0.0),
 (248, 0.06917144638660747),
 (249, 0.10050378152592121),
 (250, 0.0),
 (251, 0.0),
 (252, 0.030772872744833184),
 (253, 0.05857074126574227),
 (254, 0.07422696190252055),
 (255, 0.0),
 (256, 0.16514456476895406),
 (257, 0.08206099398622181),
 (258, 0.024784079854830485),
 (259, 0.09782319760890368),
 (260, 0.14673479641335552),
 (261, 0.04264014327112209),
 (262, 0.17292861596651865),
 (263, 0.13957263155977062),
 (264, 0.0),
 (265, 0.04181210050035454),
 (266, 0.08528028654224418),
 (267, 0.09534625892455922),
 (268, 0.07918075824648957),
 (269, 0.0),
 (270, 0.10660035817780521),
 (271, 0.10811249552346706),
 (272, 0.0),
 (273, 0.031098520678556143),
 (274, 0.0708214231796511),
 (275, 0.1818181818181818),
 (276, 0.09782319760890368),
 (277, 0.07756315349925286),
 (278, 0.10969086361906957),
 (279, 0.1011299793694863),
 (280, 0.0),
 (281, 0.0657951694959769),
 (282, 0.0650256088762355),
 (283, 0.03892494720807614),
 (284, 0.0),
 (285, 0.026444294267397254),
 (286, 0.11826247919781652),
 (287, 0.0),
 (288, 0.0),
 (289, 0.06428243465332249),
 (290, 0.09304842103984708),
 (291, 0.07207499701564471),
 (292, 0.12792042981336627),
 (293, 0.044455422447438706),
 (294, 0.11877113736973435),
 (295, 0.039590379123244784),
 (296, 0.06659271582120269),
 (297, 0.03504998186163908),
 (298, 0.0),
 (299, 0.09329556203566843),
 (300, 0.15569978883230456),
 (301, 0.0799502686333539),
 (302, 0.09988907373180403),
 (303, 0.03892494720807614),
 (304, 0.06963106238227913),
 (305, 0.10811249552346706),
 (306, 0.07784989441615228),
 (307, 0.10555008273018728),
 (308, 0.05170876899950191),
 (309, 0.09534625892455922),
 (310, 0.04891159880445184),
 (311, 0.1531679162134967),
 (312, 0.1315903389919538),
 (313, 0.037113480951260276),
 (314, 0.0),
 (315, 0.11487593716012254),
 (316, 0.0),
 (317, 0.0),
 (318, 0.0),
 (319, 0.13957263155977062),
 (320, 0.044455422447438706),
 (321, 0.0),
 (322, 0.19069251784911845),
 (323, 0.0),
 (324, 0.03329635791060134),
 (325, 0.08528028654224418),
 (326, 0.04181210050035454),
 (327, 0.04029114820126901),
 (328, 0.03829197905337418),
 (329, 0.1305582419667734),
 (330, 0.14673479641335552),
 (331, 0.12309149097933274),
 (332, 0.11487593716012254),
 (333, 0.039590379123244784),
 (334, 0.1037571695799112),
 (335, 0.0674199862463242),
 (336, 0.09534625892455922),
 (337, 0.03289758474798845),
 (338, 0.0),
 (339, 0.07009996372327816),
 (340, 0.07312724241271305),
 (341, 0.11877113736973435),
 (342, 0.15075567228888181),
 (343, 0.027076518053694116),
 (344, 0.03829197905337418),
 (345, 0.030457245193658628),
 (346, 0.0),
 (347, 0.0),
 (348, 0.044455422447438706),
 (349, 0.1333662673423161),
 (350, 0.0657951694959769),
 (351, 0.0),
 (352, 0.04181210050035454),
 (353, 0.05698028822981897),
 (354, 0.037113480951260276),
 (355, 0.0574959574576069),
 (356, 0.09304842103984708),
 (357, 0.0),
 (358, 0.0909090909090909),
 (359, 0.044455422447438706),
 (360, 0.03289758474798845),
 (361, 0.07422696190252055),
 (362, 0.08703882797784893),
 (363, 0.09045340337332908),
 (364, 0.032141217326661246),
 (365, 0.07784989441615228),
 (366, 0.07422696190252055),
 (367, 0.0),
 (368, 0.0909090909090909),
 (369, 0.1484539238050411),
 (370, 0.07918075824648957),
 (371, 0.09753841331435326),
 (372, 0.0674199862463242),
 (373, 0.11396057645963795),
 (374, 0.04859295307498625),
 (375, 0.058025885318565944),
 (376, 0.06917144638660747),
 (377, 0.0),
 (378, 0.0),
 (379, 0.06704852344015112),
 (380, 0.04351941398892446),
 (381, 0.11009637651263604),
 (382, 0.0),
 (383, 0.06659271582120269),
 (384, 0.03892494720807614),
 (385, 0.0),
 (386, 0.03504998186163908),
 (387, 0.03553345272593507),
 (388, 0.0),
 (389, 0.08528028654224418),
 (390, 0.04181210050035454),
 (391, 0.02752409412815901),
 (392, 0.04264014327112209),
 (393, 0.0),
 (394, 0.037113480951260276),
 (395, 0.0),
 (396, 0.07312724241271305),
 (397, 0.0),
 (398, 0.0),
 (399, 0.036037498507822355),
 (400, 0.12792042981336627),
 (401, 0.0),
 (402, 0.12309149097933272),
 (403, 0.12060453783110543),
 (404, 0.044455422447438706),
 (405, 0.08528028654224418),
 (406, 0.029285370632871136),
 (407, 0.030151134457776358),
 (408, 0.04891159880445184),
 (409, 0.0),
 (410, 0.10241831129983783),
 (411, 0.07207499701564471),
 (412, 0.1257389226923863),
 (413, 0.10514994558491725),
 (414, 0.039590379123244784),
 (415, 0.05598925109558542),
 (416, 0.041030496993110906),
 (417, 0.050251890762960605),
 (418, 0.0),
 (419, 0.1011299793694863),
 (420, 0.15717365336548286),
 (421, 0.037113480951260276),
 (422, 0.11009637651263604),
 (423, 0.030772872744833184),
 (424, 0.058025885318565944),
 (425, 0.07207499701564471),
 (426, 0.07435223956449145),
 (427, 0.039590379123244784),
 (428, 0.080582296402538),
 (429, 0.0),
 (430, 0.04029114820126901),
 (431, 0.04264014327112209),
 (432, 0.0674199862463242),
 (433, 0.04545454545454545),
 (434, 0.0),
 (435, 0.053300179088902604),
 (436, 0.0),
 (437, 0.037113480951260276),
 (438, 0.06659271582120269),
 (439, 0.0),
 (440, 0.0),
 (441, 0.08703882797784893),
 (442, 0.07106690545187014),
 (443, 0.0574959574576069),
 (444, 0.0),
 (445, 0.06917144638660747),
 (446, 0.03656362120635653),
 (447, 0.09329556203566843),
 (448, 0.0),
 (449, 0.17782168978975482),
 (450, 0.028490144114909487),
 (451, 0.03892494720807614),
 (452, 0.04652421051992354),
 (453, 0.036037498507822355),
 (454, 0.07784989441615228),
 (455, 0.11677484162422842),
 (456, 0.062197041357112286),
 (457, 0.07312724241271305),
 (458, 0.02956561979945413),
 (459, 0.053300179088902604),
 (460, 0.0),
 (461, 0.11134044285378084),
 (462, 0.021647252975540952),
 (463, 0.0),
 (464, 0.0),
 (465, 0.0),
 (466, 0.14673479641335552),
 (467, 0.15228622596829314),
 (468, 0.03892494720807614),
 (469, 0.054595109043261404),
 (470, 0.03458572319330373),
 (471, 0.05698028822981897),
 (472, 0.1462544848254261),
 (473, 0.1011299793694863),
 (474, 0.0),
 (475, 0.09534625892455922),
 (476, 0.1333662673423161),
 (477, 0.0),
 (478, 0.0895622151039798),
 (479, 0.025125945381480302),
 (480, 0.10241831129983783),
 (481, 0.0),
 (482, 0.0),
 (483, 0.18609684207969415),
 (484, 0.041030496993110906),
 (485, 0.07784989441615228),
 (486, 0.08843153765707637),
 (487, 0.14301938838683884),
 (488, 0.06857254813237415),
 (489, 0.0),
 (490, 0.15075567228888181),
 (491, 0.08703882797784891),
 (492, 0.0674199862463242),
 (493, 0.021214264175324345),
 (494, 0.0),
 (495, 0.19069251784911845),
 (496, 0.0),
 (497, 0.0),
 (498, 0.08891084489487741),
 (499, 0.0),
 (500, 0.03768891807222045),
 (501, 0.0657951694959769),
 (502, 0.0650256088762355),
 (503, 0.07658395810674835),
 (504, 0.0),
 (505, 0.15512630699850571),
 (506, 0.0),
 (507, 0.19507682662870648),
 (508, 0.14414999403128942),
 (509, 0.031098520678556143),
 (510, 0.08058229640253801),
 (511, 0.13957263155977062),
 (512, 0.03892494720807614),
 (513, 0.14213381090374028),
 (514, 0.03289758474798845),
 (515, 0.0),
 (516, 0.0),
 (517, 0.0),
 (518, 0.060302268915552716),
 (519, 0.0),
 (520, 0.0),
 (521, 0.0),
 (522, 0.03413943709994594),
 (523, 0.0674199862463242),
 (524, 0.0),
 (525, 0.07658395810674835),
 (526, 0.05170876899950191),
 (527, 0.0),
 (528, 0.03656362120635653),
 (529, 0.217689644749893),
 (530, 0.03768891807222045),
 (531, 0.06286946134619315),
 (532, 0.0),
 (533, 0.050251890762960605),
 (534, 0.05698028822981897),
 (535, 0.09753841331435326),
 (536, 0.03413943709994594),
 (537, 0.10660035817780521),
 (538, 0.0),
 (539, 0.17782168978975482),
 (540, 0.10241831129983783),
 (541, 0.05598925109558542),
 (542, 0.05209322610706232),
 (543, 0.09430419201928972),
 (544, 0.08058229640253801),
 (545, 0.0337099931231621),
 (546, 0.050251890762960605),
 (547, 0.09782319760890368),
 (548, 0.0),
 (549, 0.07009996372327816),
 (550, 0.0),
 (551, 0.028490144114909487),
 (552, 0.0),
 (553, 0.05170876899950191),
 (554, 0.0),
 (555, 0.021536524612697398),
 (556, 0.03829197905337418),
 (557, 0.06428243465332249),
 (558, 0.0),
 (559, 0.0),
 (560, 0.02445579940222592),
 (561, 0.05170876899950191),
 (562, 0.044455422447438706),
 (563, 0.03289758474798845),
 (564, 0.04767312946227961),
 (565, 0.05698028822981897),
 (566, 0.036037498507822355),
 (567, 0.0),
 (568, 0.17782168978975482),
 (569, 0.06827887419989188),
 (570, 0.11009637651263604),
 (571, 0.032141217326661246),
 (572, 0.12309149097933274),
 (573, 0.03329635791060134),
 (574, 0.030772872744833184),
 (575, 0.030772872744833184),
 (576, 0.07422696190252055),
 (577, 0.17056057308448835),
 (578, 0.02874797872880345),
 (579, 0.05504818825631802),
 (580, 0.03251280443811775),
 (581, 0.15836151649297914),
 (582, 0.1507556722888818),
 (583, 0.054595109043261404),
 (584, 0.11826247919781652),
 (585, 0.03553345272593507),
 (586, 0.06154574548966637),
 (587, 0.13834289277321493),
 (588, 0.03413943709994594),
 (589, 0.130051217752471),
 (590, 0.04181210050035454),
 (591, 0.062197041357112286),
 (592, 0.03178208630818641),
 (593, 0.0),
 (594, 0.09534625892455922),
 (595, 0.12309149097933274),
 (596, 0.12712834523274563),
 (597, 0.08206099398622181),
 (598, 0.0),
 (599, 0.01922366120271981),
 (600, 0.09045340337332908),
 (601, 0.04624972900628802),
 (602, 0.1348399724926484),
 (603, 0.07658395810674835),
 (604, 0.09304842103984708),
 (605, 0.03329635791060134),
 (606, 0.0),
 (607, 0.08326910724800535),
 (608, 0.0),
 (609, 0.03413943709994594),
 (610, 0.07817631049941043),
 (611, 0.03289758474798845),
 (612, 0.062197041357112286),
 (613, 0.04767312946227961),
 (614, 0.04181210050035454),
 (615, 0.08891084489487741),
 (616, 0.04545454545454545),
 (617, 0.08206099398622181),
 (618, 0.14019992744655632),
 (619, 0.0),
 (620, 0.0),
 (621, 0.04767312946227961),
 (622, 0.029012942659282972),
 (623, 0.0),
 (624, 0.10341753799900381),
 (625, 0.0),
 (626, 0.10050378152592121),
 (627, 0.15512630699850571),
 (628, 0.0),
 (629, 0.03289758474798845),
 (630, 0.0),
 (631, 0.07422696190252055),
 (632, 0.07009996372327816),
 (633, 0.030457245193658628),
 (634, 0.12792042981336627),
 (635, 0.03504998186163908),
 (636, 0.032141217326661246),
 (637, 0.0),
 (638, 0.0),
 (639, 0.0),
 (640, 0.08471737420873575),
 (641, 0.0),
 (642, 0.0),
 (643, 0.07106690545187014),
 (644, 0.0753778361444409),
 (645, 0.07658395810674835),
 (646, 0.07658395810674835),
 (647, 0.0),
 (648, 0.0),
 (649, 0.0),
 (650, 0.07207499701564471),
 (651, 0.0),
 (652, 0.029285370632871136),
 (653, 0.053300179088902604),
 (654, 0.15891043154093204),
 (655, 0.03329635791060134),
 (656, 0.0),
 (657, 0.049236596391733084),
 (658, 0.07009996372327816),
 (659, 0.03656362120635653),
 (660, 0.08891084489487741),
 (661, 0.09137173558097589),
 (662, 0.0),
 (663, 0.0),
 (664, 0.08058229640253801),
 (665, 0.0650256088762355),
 (666, 0.0),
 (667, 0.0),
 (668, 0.1818181818181818),
 (669, 0.0),
 (670, 0.0),
 (671, 0.06917144638660747),
 (672, 0.04767312946227961),
 (673, 0.03143473067309657),
 (674, 0.062197041357112286),
 (675, 0.0650256088762355),
 (676, 0.03892494720807614),
 (677, 0.05170876899950191),
 (678, 0.1507556722888818),
 (679, 0.0),
 (680, 0.0337099931231621),
 (681, 0.0),
 (682, 0.0),
 (683, 0.07009996372327816),
 (684, 0.0),
 (685, 0.04652421051992354),
 (686, 0.04652421051992354),
 (687, 0.07422696190252055),
 (688, 0.0),
 (689, 0.0),
 (690, 0.03892494720807614),
 (691, 0.08362420100070908),
 (692, 0.03458572319330373),
 (693, 0.05170876899950191),
 (694, 0.03504998186163908),
 (695, 0.10660035817780521),
 (696, 0.03289758474798845),
 (697, 0.0),
 (698, 0.06154574548966637),
 (699, 0.05504818825631802),
 (700, 0.04545454545454545),
 (701, 0.0),
 (702, 0.03829197905337418),
 (703, 0.0),
 (704, 0.03829197905337418),
 (705, 0.0),
 (706, 0.030151134457776358),
 (707, 0.0),
 (708, 0.04264014327112209),
 (709, 0.02799462554779271),
 (710, 0.05209322610706232),
 (711, 0.07312724241271305),
 (712, 0.0),
 (713, 0.0),
 (714, 0.0),
 (715, 0.1333662673423161),
 (716, 0.03458572319330373),
 (717, 0.0),
 (718, 0.06286946134619315),
 (719, 0.0),
 (720, 0.04181210050035454),
 (721, 0.04652421051992354),
 (722, 0.0),
 (723, 0.03329635791060134),
 (724, 0.03829197905337418),
 (725, 0.0),
 (726, 0.0),
 (727, 0.04242852835064869),
 (728, 0.1037571695799112),
 (729, 0.06917144638660747),
 (730, 0.041415768328129106),
 (731, 0.0753778361444409),
 (732, 0.09137173558097589),
 (733, 0.02874797872880345),
 (734, 0.09430419201928972),
 (735, 0.09329556203566843),
 (736, 0.04264014327112209),
 (737, 0.04767312946227961),
 (738, 0.0),
 (739, 0.053300179088902604),
 (740, 0.1037571695799112),
 (741, 0.07784989441615228),
 (742, 0.04264014327112209),
 (743, 0.03289758474798845),
 (744, 0.10341753799900381),
 (745, 0.11677484162422842),
 (746, 0.09137173558097589),
 (747, 0.05209322610706232),
 (748, 0.053300179088902604),
 (749, 0.0),
 (750, 0.03413943709994594),
 (751, 0.0),
 (752, 0.062197041357112286),
 (753, 0.03892494720807614),
 (754, 0.07784989441615228),
 (755, 0.08189266356489211),
 (756, 0.0),
 (757, 0.0),
 (758, 0.030772872744833184),
 (759, 0.0),
 (760, 0.0),
 (761, 0.039590379123244784),
 (762, 0.09782319760890368),
 (763, 0.0),
 (764, 0.03829197905337418),
 (765, 0.037113480951260276),
 (766, 0.03892494720807614),
 (767, 0.06917144638660747),
 (768, 0.08703882797784891),
 (769, 0.04351941398892446),
 (770, 0.03289758474798845),
 (771, 0.0),
 (772, 0.0),
 (773, 0.12792042981336627),

In [123]:
#recommend 5 similar movies using vectorization
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    #sorting on the basis of similarity in the tuple (index, similarity) from 1st pos to 6th pos
    distances = sorted(list(enumerate(similarity[movie_index])),reverse=True,key = lambda x: x[1])

    for i in distances[1:6]:
        print(new_df.iloc[i[0]].title)

In [128]:
recommend('Batman Begins')

Synecdoche, New York
10th & Wolf
American Psycho
Sexy Beast
The Dark Knight

In [132]:
import pickle

pickle.dump(new_df,open('movie_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))